<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         defaultTestSuite="55-015"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="53-003">
      <file>./tests/URFAClient53003Test.php</file>
    </testsuite>
    <testsuite name="53-004">
      <file>./tests/URFAClient53004Test.php</file>
    </testsuite>
    <testsuite name="53-005">
      <file>./tests/URFAClient53005Test.php</file>
    </testsuite>
    <testsuite name="53-006">
      <file>./tests/URFAClient53006Test.php</file>
    </testsuite>
    <testsuite name="54-001">
      <file>./tests/URFAClient54001Test.php</file>
    </testsuite>
    <testsuite name="54-004">
      <file>./tests/URFAClient54004Test.php</file>
    </testsuite>
    <testsuite name="55-002">
      <file>./tests/URFAClient55002Test.php</file>
    </testsuite>
    <testsuite name="55-015">
      <file>./tests/URFAClient55015Test.php</file>
    </testsuite>
  </testsuites>
</phpunit>
